.profilePagewrap {
    position: absolute;
    top: 3.3rem;
    right: -15rem;
    background-color: var(--yellow_dark);
    color: white;
    height: calc(100vh - 3.3rem);
    width: 15rem;

    font-family: 'Sanchez';
    box-shadow: inset 7px 0 9px -7px rgba(0, 0, 0, 0.7);
}
.popout{
    right: 0rem;
    transition: right 0.5s ease-out;
}

.popin{
    right: -15rem;
    transition: right 0.5s ease-out;
}

.profilePagewrap h6 {
    text-align: center;
    padding: 1rem;
    font-size: 0.7rem;
}

.profilePagewrap ul {
    padding: 1rem;
}

.profilePagewrap ul li {
    list-style-type: none;
}

.logoutwrap {
    position: absolute;
    bottom: 0vh;
    display: block;
    width: 100%;
    height: 4rem;
    color: #EFEFEF;
}

.logout {
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    width: 50%;
    border-radius: 4rem;
    background-color: #583591;
}